a {
  text-decoration: none;
}
.header {
  font-family: "sans-serif";
  padding: 10px 0;
}

.inner {
  display: flex;
  width: 100%;
  color: #00036d;
  justify-content: space-between;
}

.company {
  font-size: 24px;
  margin: 0 0 0 30px;
}

.menu {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

.main {
  width: 100%;
  height: 800px;
  font-family: "serif";
}

.content {
  position: relative;
  margin-top: 50px;
}

.firstview {
  position: absolute;
}

.content img {
  position: relative;
  z-index: 2;
  width: 50%;
  margin: 0 0 0 auto;
  display: block;
}

.title {
  position: absolute;
  bottom: 15%;
  z-index: 3;
  font-size: 80px;
}

.rectangle {
  position: absolute;
  top: 85%;
  z-index: 1;
  width:75%;
  height: 30%;
  background: #00227f;
}